<h1>Editing Academic Period</h1>

<%= render 'form' %>

<%= link_to 'Show', [@academic_period.organization, @academic_period] %> |
<%= link_to 'Back', organization_academic_periods_path(@academic_period.organization) %>
