<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>


<%= link_to 'Edit', edit_organization_project_path(@project.organization, @project) %> |
<%= link_to 'Back', organization_projects_path(@project.organization) %>
