<h1>Editing education_level</h1>

<%= render 'form' %>

<%= link_to 'Show', [@education_level.organization, @education_level] %> |
<%= link_to 'Back', organization_education_levels_path(@education_level.organization) %>
